/node_modules
/websocket/node_modules
/public/hot
/public/storage
/public/build
/public/images/*
/public/phpmyadmin
/public/docs/phpdox
/public/docs/swagger.json
/public/tests
/storage/*.key
/storage/debugbar
/storage/docker
/storage/geo/*
!/storage/geo/cities.sql
!/storage/geo/cities_extended.sql
storage/phpcs.json
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/someinfo
/.well-known/*
xxx
/.idea
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/google_cloud_vision.json
/public/project_docs
phpDocumentor.phar
/packages
