.shift-provider {
  height: 100%;
  position: relative;

  .availability {
    background: linear-gradient(to right, #e93161, #f37c21);
    display: flex;
    height: 79px;
    margin: 0;

    a {
      color: #fff;
      text-decoration: underline;
    }
    .left-block {
      padding-top: 15px;
      text-align: right;
      width: 50%;
      position: relative;
    }
    .right-block {
      padding-top: 24px;
      padding-left: 140px;
      width: 50%;
    }
    .update-availability {
      text-align: left;
      right: 140px;
      position: absolute;
    }
    .title {
      margin-bottom: 3px;
      color: #fff;
    }
  }

  .available-button {
    label {
      background-color: #fff;
      padding: 3px;
      border-radius: 14px;
      color: #AEAFAF;
      width: 118px;
      display: block;
      position: relative;
      height: 28px;
      font-size: 13px;
    }
    input {
      opacity: 0;
      display: block;
      width: 0px;
      height: 0px;
    }
  }

  .on {
    label::before{
      background-color: #19f4a5;
      position: absolute;
      color: #A0A1A1;
      padding: 1px 9px;
      border-radius: 14px;
      content: 'Online';
      top: 3.3px;
      left: 4px;
    }
    label::after{
      color: #A0A1A1;
      padding: 1px 9px;
      border-radius: 14px;
      content: 'Offline';
      right: 4px;
      top: 3.3px;
      position: absolute;
    }
  }

  .off {
    label::before{
      color: #A0A1A1;
      padding: 1px 9px;
      border-radius: 6px;
      content: 'Online';
      position: absolute;
      top: 3.3px;
      left: 4px;
    }
    label::after{
      background-color: lightgrey;
      color: #A0A1A1;
      padding: 1px 9px;
      border-radius: 14px;
      content: "Offline";
      position: absolute;
      right: 4px;
      top: 3.3px;
    }
  }

  .map {
    position: relative;

    .shift-data {
      position: absolute;
      bottom: 0;
      display: block;
      z-index: 999;
      background-color: rgba(255,255,255,0.9);
      color: black;
      min-width: 500px;
      max-width: 500px;
      margin-left: -250px;
      left: 50%;
      border-radius: 9px 9px 0 0;

      .calendar {
        margin: 9px 20px;
        .active:after {
          display: none !important;
        }
        .marker:after {
          content: ".";
          color: #E83064;
          font-size: 40px;
          position: absolute;
          line-height: 1.0;
          left: 13px;
        }
        .week-day-name {
          color: #B5B4B5;
          font-weight: 500;
        }
        .week-day-name,
        .days
        {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          justify-content: space-between;
          .day a
          {
            position: relative;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            margin: auto;
            line-height: 2.5;
            transition: box-shadow 0.1s;
            display: block;
          }
        }
        .day,
        .week-day-name span {
          width: 14.28%;
          text-align: center;
        }
        .day a {
          color: black;
        }
        .day a:hover {
          text-decoration: none;
          box-shadow: 0 0 1px 1px #e83064;
        }
        .day .active {
          box-shadow: 0 0 1px 1px #e83064;
        }
        .selected-day {
          margin-top: 5px;
        }
      }
      .earnings {
        padding: 5px 20px 10px 20px;
        background-color: rgba(244, 247, 249, 0.6);
        display: flex;
        justify-content: space-between;
        button {
          margin-top: 7px;
          background-color: #1AF5A5;
          padding: 10px 40px;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
        }

          h4 {
              margin-top: 12px;
          }
      }
    }

    .go-online {
      display: block;
      width: 100%;
      min-height: calc(100vh - 167px);
      background-color: #E3EAEE;
      position: relative;
      .message {
        width: 100%;
        position: absolute;
        color: #1F2021;
        text-align: center;
        margin-top: 100px;
        i {
          color: #B5B4B5;
        }
      }
    }
  }

  .details-div,
  .review-block {
    a.back-chevron {
      cursor: pointer;
      padding: 10px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 1.4;
      text-align: center;
      display: block;
      z-index: 20;

    }
    a.back-chevron:hover {
      background-color: #e8e8e8;
    }
  }

  .review-block {
    position: absolute;
    display: block;
    max-width: 500px;
    bottom: 20px;
    background-color: white;
    min-width: 500px;
    width: 100%;
    border-radius: 8px;
    left: 50%;
    margin-left: -250px;
    padding: 20px;
    .back-button {
      max-width: 10%;
      display: inline-block;
    }
    .title {
      font-size: 22px;
      text-align: center;
      width: 90%;
      display: inline-block;

      span {
        margin-left: -35px;
      }
    }
    .form-group  {
      display: flex;
    }
    .stars-block {
      width: 100%;
    }
    .practice-photo {
      width: 80px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
    .star-title {
      margin: 10px;
      text-align: center;
      font-size: 20px;
    }
    .star-rating {
      display: flex;
      justify-content: center;
    }
    .bubles span {
      font-size: 15px;
      font-weight: 500;
      background: #deeef7;
      padding: 4px 20px;
      border-radius: 27px;
      margin-right: 10px;
      margin-bottom: 12px;
      color: #3398cc;
      cursor: pointer;
      display: inline-block;
    }
    .bubles span.active {
      background: #3398cc;
      color: #fff;
    }
    textarea {
      border: 1px solid #e3eaee;
      padding: 5px;
      background: #f4f7f9;
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 420px) {
  .shift-provider {
    .review-block {
      left: unset;
      margin-left: unset;
      min-width: 320px;
      .title {
        width: 88%;
      }
    }
    .availability {
      padding: 0 10px;
      .right-block {
        padding-left: 0;
        width: 50%;
        text-align: -webkit-right;
      }
      .update-availability {
        position: absolute;
        right: unset;
      }
    }
    .map {
      .shift-data {
        margin-left: unset;
        left: unset;
        min-width: unset;
        .calendar {
          margin: 10px;
          .day a,
          .week-day-name span {
            margin: unset;
            width: 14.28%;
            height: 42.8px;
            line-height: 3.3;
          }
        }
      }
    }
  }
}

@media(max-width:767px) {
    .shift-provider .availability {
        height: 53px;
    }
    .shift-provider .availability .left-block {
        padding-top: 5px;
    }
    .shift-provider .availability .right-block {
        padding-top: 13px;
    }
}
